title {
    background-color: white;
    font-family: Times, Times New Roman, serif;
    border: 100px red;
    text-align: left;
  }
  h1 {
    background-color: black;
    color: white;
    text-align:left;
  }
  .wowzers {
    background-color:black;
    color: white;
    text-align:left;
  }
  .cringe {
    background-color:black;
    color: white;
    text-align:left;
  }
    